<h1>Comment on post</h1>
<div class="comment-form">
    <input name= "commentName" type="text" class="commenter-name" placeholder= "Enter your name here!">
<input name="comment" type="text" class="commentText" placeholder="type your comment here!">
<button class = 'submitComment'>Submit!</button>
</div>
<script src = '/js/comment.js'></script>