<h1>Create Posts!</h1>
<div class = "makePosts">
    <input name= "postName" type="text" class="name" placeholder= "Enter your name here!">
    <input name = "postText" type="text" class="posts" placeholder="Post here!">
    <button class="submitBtn">Submit post</button>
</div>
<script src ='/js/newpost.js'></script>